{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}



{% block body %}

    <style>
        .col-md-12 {
            margin-top: 23px;
        }
        .col-md-12 {
            margin-top: 23px;
            border: 1px solid #ccc;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
        }
    </style>

    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr style="background-color: black; color: white; font-weight: 500">
                <th>#</th>
                <th>Author <i class="fa fa-grav" ></i></th>
                <th></th>


            </thead>
        </tr>
            <tbody>
            {% for author in authors %}
                <tr>
                    <th scope="row">{{ author.id }}</th>
                    <td>{{ author.AuthorName }}</td>

                    <td>
                        <a href="{{ path('author_details', {'id': author.id}) }} " class='btn btn-success'>View</a>
                        <a href="{{ path('author_edit', {'id': author.id}) }}" class='btn btn-default'><i class="fa fa-pencil-square-o" style="color: black; font-size: 20px"></i></a>
                        <a href="{{ path('author_delete', {'id': author.id}) }}" class='btn btn-danger'><i class="fa fa-trash"></i></a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}